body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
    margin-right: 20px;
}

span {
    color: yellowgreen;
}

section {
    display: flex;

}

.half-width {
    width: 50%;
    padding: 10px;
    margin-left: 20px;
}

.half-width img {
    width: 90%;
}

.button {
    text-decoration: none;
    background-color: yellow;
    padding: 10px 40px;
    border-radius: 3px;
    background-image: linear-gradient(orange, tomato);
}


.back-bannerk {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream {
    display: flex;
    margin-top: 160px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.half-widthh {
    width: 50%;
    padding: 10px;
    margin-left: 20px;

}